@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.logos-slide img {
    height: 100px;
    width: 210px;
    margin: 0 30px;
}

.logos-slide {
    display: inline-block;
    animation: 30s slide infinite linear;
}

.logos {
    overflow: hidden;
    padding: 60px 0;
    white-space: nowrap;
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

.box {
    font-size: 25px;
}


.box1 {
    background-color: rgb(175, 174, 174);

}

.box5 {
    background-color: black;
}

.box4 {
    width: 500px;
    height: 500px;
}

.box10 {
    width: 500px;

    margin-left: 700px;
    margin-bottom: -500px;
}

.box12 {
    width: 100%;
    color: white
}

#videoBG {
    position: fixed;
    z-index: -1;
}

/* @media (min-aspect-ratio: 16/9) {
    #videoBG {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #videoBG {
        width: auto;
        height: 100%;
    }
} */


@media(min-width:992px) {
    .carousel-caption {
        height: 500px;
    }
}


@media(min-width: 360px) and (max-width: 860px) {
    .carousel-caption {
        height: 150px;
    }
}


@media(max-width: 360px) {
    .box55 {
        width: 500px;

    }

    .box55 .embed-responsive {
        width: 100%;
        /* Make sure the iframe container fills the parent width */
        height: auto;
    }

    .box55 iframe {
        width: 100%;
        /* Make iframe responsive */
        height: auto;
        /* Maintain aspect ratio */
    }
}




.box50 {
    width: 100px;
}

.box100 {
    background-color: rgb(118, 19, 19);
}

.card {
    transition: all 0.3s;
}

.card:hover {
    transform: scale(1.10);
}

.box101 {
    border: 3px solid yellow;
    padding: 20px;
}





/* a {
    color: white;
} */